{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h1>{{ message }}</h1>
    
        <ul class="list-group">
            {% for  product in products %}
            <li class="list-group-item">
                {{ product.title }}
                <span>
                    {% if product.stock %}
                        <span class="badge text-bg-success">Disponible</span>
                    {% else %}
                        <span class="badge text-bg-danger">No disponible</span>
                    {% endif %}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <img src="{% static 'img/ropa.jpg' %}" alt="">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="{% static 'js/app.js' %}"></script>


</body>
</html>